/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');

/* Variables */
:root{
    /**/
    --color-white-light: rgba(255, 255, 255, 1);
    --color-white-medium:rgba(255, 255, 255, 0.7);
    --color-white-darken:rgba(255, 255, 255, 0.5);
    /**/
    --color-black-1: #000;
    --color-black-2: #333;
    /**/
    --color-grey-1: #666;
    --color-grey-2: #ccc;
    --color-grey-3: #efefef;
    /**/
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Raleway", sans-serif;
    /**/
    --fs-primary: 16px;
    --fs-1: 0.8rem;
    --fs-2: 1rem;
    --fs-3: 1.2rem;
    --fs-4: 2rem;
    /**/
    --bg-header : radial-gradient(circle at 48% 77%, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 50%, rgba(135, 135, 135, 0.04) 50%, rgba(135, 135, 135, 0.04) 100%),
    radial-gradient(circle at 74% 36%, rgba(223, 223, 223, 0.04) 0%, rgba(223, 223, 223, 0.04) 50%, rgba(113, 113, 113, 0.04) 50%, rgba(113, 113, 113, 0.04) 100%),
    radial-gradient(circle at 62% 13%, rgba(16, 16, 16, 0.04) 0%, rgba(16, 16, 16, 0.04) 50%, rgba(168, 168, 168, 0.04) 50%, rgba(168, 168, 168, 0.04) 100%),
    linear-gradient(223deg, rgb(37, 143, 136), rgb(87, 117, 249))
}

/* Main */

html{
    font-size: var(--fs-primary);
}

body{
    font-family: var(--ff-primary);
    background-color: var(--color-grey-3);
}

header{
    background-image: var(--bg-header);
	color: var(--color-white-light);
}

/* Styles */

.timer-container{
    background-color: var(--color-white-light);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.timer{
    color: var(--color-white-light);
    background: linear-gradient(-135deg, #04d ,#19f);
    font-size: 4rem;
    height: 300px;
}

.btn{
    color: var(--color-white-light);
    width: 100px;
}

.button{
    color: var(--color-white-light);
    padding: 0.375rem 0.75rem;
    width: 100px;
    border-radius: 0.25rem;
    border: 1px solid transparent;
}

.btn-start{
    background-color: #04d;
 }

.btn-stop{
    background-color: #c52d13;
}

.btn-split{
    background-color: #25aa58;
}

.btn-start:disabled, .btn-stop:disabled, .btn-split:disabled{
    background-color: var(--color-grey-2);
    pointer-events: visible;
    cursor: not-allowed;
}

.btn-reset{
    color: var(--color-black-2);
    border-color: var(--color-grey-1);
    opacity: 0.5;
}

.storage{
    border-radius: 10px;
    border: 1px solid var(--color-grey-1);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.storage.active{
    opacity: 1;
}

.storage-header{
    background-color: var(--color-grey-1);
    color: var(--color-white-light);
}

/* Media */
@media screen and (max-width: 576px) {
    .timer{
        font-size: var(--fs-4);
    }
}